
.paragraphText {
	font-family: sans-serif;
	font-size: 0.9em;
}

.paragraphText2 {
	font-family: sans-serif;
	font-size: 0.9em;
	font-weight: bold;
}


#heading{
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	font-family: Arial, sans-serif;
	font-size: 2em;
	clear: both;
}


#chart{
	display: block;
	clear: both;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid LightGrey;
}

.cursor{
  fill: #fff;
  fill-opacity: 0.3;
  pointer-events: none;
}

.statDisplay{
	font-family: Arial, sans-serif;
	font-size: 0.9em;
}

#statlist{
	list-style-type:none;
}

.mainbody{
	position: relative;
    width: 460px;
    margin-left: auto ;
    margin-right: auto ;
	display: block;
	
}


#statdiv{
	display: block;
	width: 200px;
	float: right;
}

#controlpanel{
	display: block;
	width: 200px;
	float: left;
}

#displayPanel{
	overflow: hidden;
}


#dataTable{
	border:1px solid lightGray;
	float: left;	
	width: 150px;
}


#marginalProbX, #marginalProbXc {
	text-anchor: middle;
	fill: white;
	font-family: sans-serif;
	font-size: 16;
}

#infoText{	
	width: 450px;
	font-family: sans-serif;
	font-size: 0.75em;
}
