
.paragraphText {
	font-family: sans-serif;
	font-size: 0.9em;
}

.paragraphText2 {
	font-family: sans-serif;
	font-size: 0.9em;
	font-weight: bold;
}


.chart text{
	fill: black;
	font: 14px sans-serif;
	text-anchor: middle;
}

#axisLabel{
	font: 20px sans-serif;
}


.bar rect {
  fill: steelblue;
  shape-rendering: crispEdges;
}

.bar text {
  fill: #fff;
  font-family: sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

#heading{
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	font-family: Arial, sans-serif;
	font-size: 2em;
	clear: both;
}

.lines {
	fill: steelblue;
	fill-opacity: 0.5;
}

.chart{
	display: block;
	clear: both;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid LightGrey;
}

.cursor{
  fill: none;
  stroke: blue;
  pointer-events: none;
}

.statDisplay{
	font-family: Arial, sans-serif;
	font-size: 0.9em;
}

.moves{
	text-anchor: end;
	font-family: Arial, sans-serif;
	font-size: 0.9em;
}

.statlist{
	list-style-type:none;
}

.mainbody{
	position: relative;
    width: 460px;
    margin-left: auto ;
    margin-right: auto ;
	display: block;
}


#controlpanel{
	width: 450px;
	float: left;
}

#displayPanel{
	overflow: hidden;
}

#infoText{	
	width: 450px;
	font-family: sans-serif;
	font-size: 0.75em;
}
